{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Dashboard - Social Media Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="{% static 'assets/Pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/linearicons/1.0.0/icon-font.min.css">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    
    

</head>
<body>
                    {% if request.user.is_authenticated %}
                        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">    
                            {% include 'core/header.html' %}     
                            <div class="app-main">
                                {% include 'core/sidebar.html' %}    
                                <div class="app-main__outer">
                                    <div class="app-main__inner">
                    {% endif %}
                    {% block content %}{% endblock %}
                    {% if request.user.is_authenticated %}
                                    </div>
                                    {% include 'core/footer.html' %}
                                </div>  
                            </div>
                        </div>
                    {% endif %}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{% static '/assets/scripts/main.js' %}"></script>


</body>
</html>
